/* Estilo para o componente board */
:host {
  display: block;
  position: relative;
  border: 1px solid #ccc; /* Borda da tabela */
  background-color: #f1f1f1; /* Cor de fundo da tabela */
  padding: 10px; /* Espaçamento interno da tabela */
  width: fit-content; /* Ajusta a largura da tabela ao conteúdo */
}

/* Estilo para cada célula da tabela */
.app-cell {
  display: inline-block;
  width: 30px; /* Largura da célula */
  height: 30px; /* Altura da célula */
  border: 1px solid #ccc; /* Borda da célula */
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 16px;
}

/* Estilo para célula não revelada */
.app-cell:not(.revealed) {
  background-color: #fff; /* Cor de fundo das células não reveladas */
}

/* Estilo para célula revelada */
.app-cell.revealed {
  background-color: #f1f1f1; /* Cor de fundo das células reveladas */
}

/* Estilo para o ícone de bandeira */
.app-cell .bi-flag-fill {
  font-size: 18px;
  color: #ff0000; /* Cor do ícone de bandeira */
}

/* Estilo para o ícone de emoji triste */
.app-cell .bi-emoji-frown-fill {
  font-size: 20px;
  color: #f7ad00; /* Cor do ícone de emoji triste */
}

/* Estilo para o número de minas adjacentes */
.app-cell .adjacent-mines {
  color: #000; /* Cor do número de minas adjacentes */
}
