.container {
    .form-group {
      margin-bottom: 1rem;
    }
  
    .mt-3 {
      margin-top: 1rem;
    }
  
    .board {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
      justify-content: center;
      gap: 0px;
      padding: 1rem;
      width: fit-content;
  
      app-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border: 1px solid #ccc;
      }
    }
  }
  