.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .form-group {
    margin-right: 1rem;
  }

  .btn {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.2rem 1rem; // Reduzir o padding vertical para diminuir a altura do botão
    white-space: nowrap; // Evitar a quebra de linha do texto do botão
  }
}
